.container-card {
  display: flex;
  justify-content: center;
}

.card2 {
  width: 220px;
  background-color: #ffffff;
  padding-bottom: 1rem;
  margin-inline: 0.5rem;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.058);
}

.promo_like {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.promo {
  /* display: none; */
  padding-inline: 0.5rem;
  background-color: rgba(0, 128, 0, 0);
  width: 80px;
  height: 30px;
  /* padding: 20px; */
  color: #fff;
}

.promo h3 {
  font-size: 18px;
  font-weight: 200;
}

.linkCard {
  text-decoration: none;
}

.imagemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-block: 1rem;
  img {
    height: 100%;
  }
}

.infCard {
  width: 100%;
  display: flex;
  padding: 0 10px;
}

.infos {
  width: 100%;
}

.likes {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}

.titulo {
  font-size: 15px;
  font-weight: 400;
  color: #363636;
  height: 30px;
}

.titulo:hover {
  color: #9e0000;
  text-decoration: underline;
}

.preco {
  font-size: 16px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 0.5rem;
}

.cartao {
  font-size: 12px;
  color: green;
}

.frete {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
  color: green;
  gap: 5px;
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}
